body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

.card {
    background-color: hsl(0, 0%, 12%);
    border-radius: 12px; 
    padding: 25px;
    text-align: center;
    width: 320px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

.card img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
}

h2 {
    font-size: 20px;
    margin: 0;
}

h4 {
    font-size: 14px;
    color: yellow;
    margin: 5px 0;
}

p {
    font-size: 14px;
    margin: 10px 0;
    color: white;
}


.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 14px;
}

.links a {
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.links a:hover {
    background-color: greenyellow;
}

.attribution {
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: yellow;
    text-decoration: none;
}